anytree==2.12.1
asteval==1.0.5
beep==2022.10.3.16
boto3==1.20.31
botocore==1.23.37
casadi==3.6.7
click==8.0.4
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
fonttools==4.55.0
h5py==3.6.0
importlib_resources==6.4.5
jmespath==0.10.0
joblib==1.4.2
kiwisolver==1.4.7
lmfit==1.0.3
matplotlib==3.7.5
monty==2022.4.26
msgpack-python==0.5.6
numpy==1.22.2
packaging==24.2
pandas==1.4.1
pillow==10.4.0
pipdeptree==2.23.4
pybamm==23.9
pydash==5.1.0
pyparsing==3.1.4
python-dateutil==2.8.2
pytz==2021.3
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.8
s3transfer==0.5.2
scikit-learn==1.0.2
scipy==1.5.4
six==1.16.0
threadpoolctl==3.5.0
tqdm==4.62.3
uncertainties==3.2.2
urllib3==1.26.20
watchtower==3.0.0
xarray==2023.1.0
xmltodict==0.12.0
zipp==3.20.2
